<div class='container'>
  <h2>Test Form</h2>

 {{#validated-form disableDuringSubmit=true as |register submit reset formState submitErrors| }}

    {{#validated-area
      submitErrors=submitErrors.firstName
      as |setState errors valid validationState| }}

        <div class="form-group {{class-state valid 'has-success' 'has-error'}}">
          <label for='firstName'>First Name</label>
          {{validated-input
            class='form-control'
            id='firstName'
            placeholder='first name'
            register=register
            setState=setState
            rules='required min-length'
            minLengthValue='3'
            value=firstName
          }}
          {{#if errors}}
            <span>{{first-message errors}}</span>
          {{/if}}
        </div>

    {{/validated-area}}

    {{#validated-area as |setState errors valid state| }}

        <div class="form-group {{class-state valid 'has-success' 'has-error'}}">
          <label for='lastName'>Last Name</label>
          {{validated-input
            class='form-control'
            id='lastName'
            placeholder='last name'
            setState=setState
            register=register
            rules='required max-length'
            maxLengthValue='6'
            value=lastName
          }}
          {{#if errors}}
            <span>{{first-message errors}}</span>
          {{/if}}
        </div>

    {{/validated-area}}

    {{#validated-area
      submitErrors=submitErrors.email
      as |setState errors valid state| }}

        <div class="form-group {{class-state valid 'has-success' 'has-error'}}">
          <label for='email'>Email</label>
          {{validated-input
            class='form-control'
            id='email'
            placeholder='email'
            setState=setState
            register=register
            rules='required email'
            emailMessage='please enter a valid email'
            value=email
          }}
          {{#if errors}}
            <span>{{first-message errors}}</span>
          {{/if}}
        </div>

    {{/validated-area}}

    {{!-- optional field --}}
    <div class="form-group">
      <label for="optional">Optional</label>
      {{input value=optional placeholder='optional field' class='form-control' id='optional'}}
    </div>

    <button class='btn btn-primary' disabled={{formState.disabled}} {{action submit}}>Submit</button>

 {{/validated-form}}


</div>
