<div class='container'>
  <h2>Test Form</h2>

 {{#validated-form disableDuringSubmit=true as |register submit reset formState submitErrors| }}

   {{#validation-wrapper class="input-group" value=intensity register=register rules="exists is-eleven" as |level checkForValid validate errors validationState| }}

       <label for="intensity">Department To Route Campaign Responses To</label>
       <input type="range" id="intensity" value={{level}} min=0 max=11 oninput={{action validate value="target.value"}}>

     {{#if errors}}
         <div class="col-xs-12 text-small text-danger">{{first errors}}</div>
     {{/if}}

   {{/validation-wrapper}}


   {{#validation-wrapper class="input-group" value=isIntense register=register rules="exists" as |isIntense checkForValid validate errors validationState| }}

       <label for="checkbox-intensity">Department To Route Campaign Responses To</label>
       <input type="checkbox" id="checkbox-intensity" value={{isIntense}} onchange={{action validate value="target.checked"}} >

     {{#if errors}}
         <div class="col-xs-12 text-small text-danger">{{first errors}}</div>
     {{/if}}

   {{/validation-wrapper}}


   {{#validation-wrapper class="input-group" value=coolness register=register rules="exists is-eleven" as |coolFactor checkForValid validate errors validationState| }}

       <label for="intensity">Department To Route Campaign Responses To</label>
       <select onchange={{action validate value="target.value"}}>
         {{#each choices key="@identity" as |choice|}}
             <option value={{choice}} selected={{is-equal coolFactor choice}}>{{choice}}</option>
         {{/each}}
       </select>

     {{#if errors}}
         <div class="col-xs-12 text-small text-danger">{{first errors}}</div>
     {{/if}}

   {{/validation-wrapper}}

   {{#validation-wrapper class="input-group" value=firstName register=register rules='required min-length' minLengthValue='3' as |firstName checkForValid validate errors validationState| }}

      <div class="form-group {{class-state validationState.valid 'has-success' 'has-error'}}">
        <label for='firstName'>First Name</label>

        <input
          type="text"
          class='form-control'
          id='firstName'
          placeholder='first name'
          value={{firstName}}
          onblur={{ action (action validate) value='target.value' }}
          oninput={{ action (action checkForValid) value='target.value' }}
        >

        {{#if errors}}
          <span>{{first errors}}</span>
        {{/if}}
      </div>

   {{/validation-wrapper}}

   {{#validation-wrapper class="input-group" value=lastName register=register rules='required max-length' maxLengthValue='3' as |lastName checkForValid validate errors validationState| }}

      <div class="form-group {{class-state validationState.valid 'has-success' 'has-error'}}">
        <label for='lastName'>Last Name</label>
        <input
          type="text"
          class='form-control'
          id='lastName'
          placeholder='last name'
          value={{lastName}}
          onblur={{ action (action validate) value='target.value' }}
          oninput={{ action (action checkForValid) value='target.value' }}
        >

        {{#if errors}}
          <span>{{first errors}}</span>
        {{/if}}
      </div>

   {{/validation-wrapper}}


   {{#validation-wrapper class="input-group" value=email register=register rules='required email' as |lastName checkForValid validate errors validationState| }}

      <div class="form-group {{class-state validationState.valid 'has-success' 'has-error'}}">
        <label for='email'>Email</label>
        <input
          type="text"
          class='form-control'
          id='email'
          placeholder='email'
          value={{email}}
          onblur={{ action (action validate) value='target.value' }}
          oninput={{ action (action checkForValid) value='target.value' }}
        >

        {{#if errors}}
          <span>{{first errors}}</span>
        {{/if}}
      </div>

   {{/validation-wrapper}}
    <p>
      <button class='btn btn-primary' disabled={{formState.disabled}} {{action submit}}>Submit</button>
    </p>

 {{/validated-form}}

</div>
