<div class='container'>
  <h2>My Form</h2>

 {{#validated-form action='submit' }}

    {{#validated-area register='register' as |errors valid| }}

        <div class="form-group {{class-state valid 'has-success' 'has-error'}}">
          <label for='firstName'>First Name</label>
          {{validated-input
            class='form-control'
            id='firstName'
            placeholder='first name'
            action='validate'
            register='register'
            rules='min-length'
            min-length-value='3'
            value=firstName
          }}
          {{#if errors}}
            <span>{{first-message errors}}</span>
          {{/if}}
        </div>

    {{/validated-area}}
    
    {{#validated-area register='register' as |errors valid| }}

        <div class="form-group {{class-state valid 'has-success' 'has-error'}}">
          <label for='lastName'>Last Name</label>
          {{validated-input
            class='form-control'
            id='lastName'
            placeholder='last name'
            action='validate'
            register='register'
            rules='max-length'
            max-length-value='6'
            value=lastName
          }}
          {{#if errors}}
            <span>{{first-message errors}}</span>
          {{/if}}
        </div>

    {{/validated-area}}

    {{#validated-area register='register' as |errors valid| }}

        <div class="form-group {{class-state valid 'has-success' 'has-error'}}">
          <label for='email'>Email</label>
          {{validated-input
            class='form-control'
            id='email'
            placeholder='email'
            email='email is required'
            action='validate'
            register='register'
            rules='email'
            email-message='please enter a valid email'
            value=email
          }}
          {{#if errors}}
            <span>{{first-message errors}}</span>
          {{/if}}
        </div>

    {{/validated-area}}

    {{!-- optional field --}}
    <div class="form-group">
      <label for="optional">Optional</label>
      {{input value=optional placeholder='optional field' class='form-control' id='optional'}}
    </div>

    <button class='btn btn-primary'>Submit</button>

 {{/validated-form}}


</div>
